:root {
  --main-bg-color: #FFFFFF;
  --issabeline-bg-color: #EEEEEE;
  --spaceCadet-bg-color: #17255A;
  --cbGreen-bg-color: #03CEA4;
  --saffron-bg-color: #EAC435;
  --darkPurple-bg-color: #2D1E2F;
  --gunMetalbg-bg-color: #273043;
  --vividTang-bg-color: #F5772F;
  --sunsetOrange-bg-color: #E13F29;
  --grey-bg-color: #C4C4C4;
}

/* General styles */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var( --main-bg-color);
  font-family: "Roboto", "Nunito";
}

/* Header styles */

.genesys__header {
 width: 100%;
 height: 10rem;
 display: flex;
 justify-content: space-between;
 padding-left: 5rem;
 padding-top: 3rem;
 /* position: fixed; */
}

.navbar-items-1 {
 display: flex;
 justify-content: space-evenly;
 padding-right: 15rem;
}

ul li {
 padding: 1.5rem;
 font-size: 1.5rem;
 list-style-type: none;
 color: #000;
}

a:link{
 text-decoration: none;
 text-transform: uppercase;
 color: #000;
}

.genesys__navbar-right {
 padding-right: 3rem;
}

.genesys__navbar-right span {
 font-size: 1.2rem;
}

span .build {
 font-size: 20rem;
}

.devstudio {
 margin-left: 2rem;
 padding: .5rem;
 background: none;
 border-radius: .5rem;
}

/* learnable styles */
.learnable__navbar {
  width: 100%;
  height: 3.5rem;
  background-color: var( --spaceCadet-bg-color);
}

/* main contents styles */
.learnable__commingsoon {
  width: 100%;
  height: 15.5rem;
  background-color: var(--saffron-bg-color);
}

.learnable__everything {
  width: 100%;
  height: 44rem;
  background-color: var(---main-bg-color);
}

.learnable__gathering {
  width: 100%;
  height: 33.5rem;
  background-color: var(--grey-bg-color)
}

.learnable__making {
  width: 100%;
  height: 40.75rem;
  background-color: var(--main-bg-color);
}

.learnable__experience {
  width: 100%;
  height: 48.75rem;
  background-color: var(--grey-bg-color);
}

.learnable__software {
  width: 100%;
  height: 75rem;
  background-color: var(--main-bg-color);
}

.learnable__design {
  width: 100%;
  height: 75rem;
  background-color: var(--grey-bg-color);
}

.learnable__eligible {
  width: 100%;
  height: 48.75rem;
  background-color: var(--main-bg-color)
}

.learnable__culture {
  width: 100%;
  height: 48.75rem;
  background-color: var( --vividTang-bg-color);
}

.learnable__learning {
  width: 100%;
  height: 48.75rem;
  background-color: var(--main-bg-color);
}

.learnable__experts {
  width: 100%;
  height: 48.75rem;
  background-color: var(--grey-bg-color);
}

.learnable__classrooms {
  width: 100%;
  height: 48.5rem;
  background-color: var(--main-bg-color);
}

.learnable__apply {
  width: 100%;
  height: 48.75rem;
  background-color: var(--spaceCadet-bg-color);
}

.learnable__classrooms {
  width: 100%;
  height: 56rem;
  background-color: var(--main-bg-color);
}

.learnable__journal {
  width: 100%;
  height: 69.5rem;
  background-color: var(--grey-bg-color);
}

/* broadcast */

.learnable__broadcast {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--main-bg-color);
}

.broadcast--text p {
  text-decoration: underline;
  font-size: 2rem;
  font-weight: bold;
}

.broadcast--image-icon-1 {
  width: 12rem;
  height: 2.5rem;
  background-image: url('/img/sponsor-1.png');
  background-repeat: no-repeat, repeat;
  background-position: center; 
}

.broadcast--image-icon-2 {
  width: 12rem;
  height: 2.5rem;
  background-image: url('/img/sponsor-2.png');
  background-repeat: no-repeat, repeat;
  background-position: center; 
}

.broadcast--image-icon-3 {
  width: 12rem;
  height: 2.5rem;
 background-image: url('/img/sponsor-3.png');
  background-repeat: no-repeat, repeat;
  background-position: center; 
}

.broadcast--image-icon-4 {
  background-image: url('/img/sponsor-4.png');
  background-repeat: no-repeat, repeat;
  background-position: center; 
}

.broadcast--image-icon-5 {
  width: 12rem;
  height: 2.5rem;
 background-image: url('/img/sponsor-5.png');
  background-repeat: no-repeat, repeat;
  background-position: center; 
}

/* Subscribe */
.learnable__subscribe {
  width: 100%;
  height: 19rem;
  background-color: var(--saffron-bg-color); 
  display: flex;
}

.subscribe--arrow-img {
  width: 10%;
  height: 100%;
}

.subscribe--text-content {
  width: 90%;
  height: 100%;
}

.subscribe--arrow-img {
 width: 10%;
 height: 100%;
 background-color: var(--main-bg-color);
 background-image: url('/img/arrow-up.png');
 background-repeat: no-repeat, repeat;
 background-position: center; 
}

.subscribe--text-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 10rem;
}

.subscribe--text-content h1 {
  font-size: 2.5rem;
}

.subscribe--email-vpp {
   font-size: 1.5rem;
}

.email-add, .vpp {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

hr {
  width: 20rem;
  background-color: var(--gunMetalbg-bg-color) !important;
}

.subscribe--btn {
  padding: .5rem;
  background: none;
  border-radius: .5rem;
  text-transform: uppercase;
}

/* .subscribe--arrow-img {
 width: 10%;
 height: 100%;
 background-color: var(--main-bg-color);
 background-image: url('/img/arrow-up.png');
 background-repeat: no-repeat, repeat;
 background-position: center; 
}

.subscribe--text-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subscribe--text {
  margin-left: 7rem;
  font-size: 1rem;
  font-weight: bold;
}

.subscribe--email-vpp {
  margin-left: 10rem;
  font-size: 1rem;
}

.email-add, .vpp {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

hr {
  width: 10rem;
  color: var(--gunMetalbg-bg-color) !important;
}

.subscribe__button {
  margin-left: 5rem;
} 

.subscribe--btn {
  padding: .5rem;
  background: none;
  border-radius: .5rem;
  text-transform: uppercase;
} */



/* footer styles */
.genesys__footer {
 width: 100%;
 height: 35rem;
 /* background-color: orangered; */
}

.footer__content {
 display: flex;
 justify-content: space-between;
}

.footer__left ul li a:link {
 text-decoration: underline;
 font-size: 1.3rem;
 color: var(--spaceCadet-bg-color);
}

.underline a:link {
 text-decoration: underline;
 font-size: 1.3rem;
 color: var(--spaceCadet-bg-color);
}

.studio {
  padding-top: 1.5rem;
}

.touch {
  margin-top: 5rem;
}

.footer__right {
  display: flex;
}

.footer__img {
 width: 15rem;
 height: 15rem;
 background-color: var(--grey-bg-color);
 background-image: url('/img/footer.png');
 background-repeat: no-repeat, repeat;
 background-position: center; 
}

.footer__link-1 {
  padding-top: 3.3rem;
}

.footer__item-1, .footer__right {
  font-size: 1.5rem;
  padding-top: 5rem;
  padding-right: 5rem;
}

.footer__remark {
  padding-top: 5rem;
  padding-left: 3.5rem;
}

.touch {
  padding-top: 2.5rem;
}

.footer__copyright {
 text-align: center;
}

.copy--right {
 text-transform: uppercase;
}

.ps {
  display: inline-block;
   padding-left: 1.5rem;
}

